<?xml version="1.0"?>
<sys_Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <webname>管理系统</webname>
  <webversiontime>2018062501</webversiontime>
  <webinsideurl>192.168.1.6</webinsideurl>
  <weburl>wx.ssccm.cn:8181</weburl>
  <weblogo />
  <webcompany />
  <webaddress />
  <webtel />
  <webfax />
  <webmail />
  <webcrod />
  <mobilestatus>0</mobilestatus>
  <mobiledomain>www.yubom.net</mobiledomain>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>系统正在维护中，请稍候访问……</webclosereason>
  <smsapiurl>http://api2.esoftsms.com/sdk/</smsapiurl>
  <smsusername>SDK3096</smsusername>
  <smspassword>112312</smspassword>
  <smsnickname>管理系统</smsnickname>
  <emailsmtp>smtp.163.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>wjhmiss@163.com</emailfrom>
  <emailusername>wjhmiss@163.com</emailusername>
  <emailpassword />
  <emailnickname>管理系统</emailnickname>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,xlsx,docx,jpeg,mp3</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>3000</imgmaxheight>
  <imgmaxwidth>1000</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>管理系统</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysencryptstring>KeXinDa</sysencryptstring>
  <WxCorpid>ww820928ee1a26f51a</WxCorpid>
  <WxIntentionCorpSecret>zfZV0eQO_MhE2dMoX78BnlidO9obfCIE3nh1hycw-1o</WxIntentionCorpSecret>
  <WxScheduleCorpSecret>lHk3J-a9Z6VNzD-mzbUpuLab93zm1RkXTWI_gmCcAzA</WxScheduleCorpSecret>
  <WxscheduleSearchCorpSecret>93OhNpjCXCVEFlwq5BUJw4YG3lDfONedrb3XJjU74Ig</WxscheduleSearchCorpSecret>
  <WxscheduleRewardCorpSecret>q2mXeP756n7D4DzcrS9f97Yzpj_DFwx_NJYP2jfiCwc</WxscheduleRewardCorpSecret>
  <WxscheduleRewardManagerCorpSecret>1ywaY83eRrjEIlZpleSVRnY9JT7xU7w7A2PxnYYCb5M</WxscheduleRewardManagerCorpSecret>
</sys_Config>