<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问



  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Configpath" value="~/xmlconfig/site.config" />
    <add key="appName" value="/SCZM/" />
    <add key="DataSetCache" value="180" />
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <add name="DBString" connectionString="server=.;uid=sa;pwd=kxd;database=SCZM;" />
    <!--<add name="DBString" connectionString="server=10.135.24.93;uid=sa;pwd=jjcw_2015;database=SCZM;" />-->
    <!--<add name="DBString" connectionString="server=10.135.111.62,45841\SQLEXPRESS;uid=sa;pwd=Qwer1234;database=SCZM;" />-->
  </connectionStrings>
  <system.web>
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="20000" />
    <sessionState mode="InProc" />
  </system.web>
  <!--<system.net>
    <defaultProxy>
      <proxy usesystemdefault="True" proxyaddress="http://"/>
    </defaultProxy>
  </system.net>-->
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/x-javascript" />-->
    </staticContent>
    <handlers>
      <add name="JSON" path="*.json" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
    </handlers>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <remove value="index.htm" />
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
